.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-image: url('../assets/istockphoto-1150952747-612x612.jpg');
  background-size: cover;
  background-position: center;
}