.leagueCard {
  text-align: center;
  margin: 20px;
}

.leagueCard a {
  text-decoration: none;
  color: #333;
}

.leagueCard img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.leagueCard h5 {
  font-size: 18px;
  margin-bottom: 10px;
}